.flex {
  width: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  height: 57vh;
  justify-content: space-between;
}

.card img {
  height: 35vh;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
}

.links {
  width: 8vw;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 2rem;
}

a {
  font-size: 18px;
  color: coral;
}